/* MATERIAL ICONS */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), 
        url('../fnt/material_icons_regular.woff') format('woff');
}
.material-icons {
    font-family: 'Material Icons';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  z-index: 0;
}

/* RESPONSIVE TEXT AND IMAGES */
/*font-size: calc( 16px + 6 * ((100vw - 320px) / 680) ); */
@media screen and (orientation: portrait) {
  html {
    font-size: max(14px, 1.2vh);
  }
}
@media screen and (orientation: landscape) {
  html {
    font-size: max(14px, 1.7vh);
  }
}
img, svg {
  width: 100%;
  height: auto;
}

/* BASE CONTAINERS */
html {
  width: 100%;
  height: auto;
  overflow: scroll;
  font-weight: 400;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff8e7; /* Cosmic Latte */
}

/* HEADINGS, TEXT AND DIVIDERS */
h1, h2, h3, h4, h5, h6 {
  padding: 1rem;
}
h2 {
  color: #997016;
}
p {
  padding: 0.5rem;
  text-indent: 1rem;
  line-height: 1.4rem;
}
hr {
  max-width: 80vw;
  height: 0.1rem;
  background: #1e293b;
  margin: auto;
  border-radius: 0.1rem;
}

/* LISTS */
ul {
  padding: 1rem;
  list-style: disc inside;
}
li {
  padding: 0.5rem 1rem;
}

/* LINKS AND BUTTONS */
a {
  color: #38bdf8;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  font-weight: 600;
  text-decoration: underline;
}
a:active {
  color: #997016;
  text-decoration: none;
}
button, .download {
  background: #38bdf8;
  color: #020617;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.7;
}
button:hover, .download:hover {
  font-weight: 600;
  opacity: 1;
  text-decoration: underline;
}
button:active, .download:active {
  background: #0f172a;
  border: 1px solid #38bdf8;
  color: #fff8e7;
  text-decoration: none;
}
button img {
  width: 1rem;
  vertical-align: bottom;
}

/* MAIN MENU */
/* Structure: 
nav (root element for the main menu) -> 
menuPanel (a div that contains both menues, EN-ES) -> 
mainMenu (Contains individual menu languages in an ul element for each) -> 
submenuCont (li element with the submenu, includes the toggle button and the submenu panel) -> 
submenuPanel (an ul element that contains the projects links)  */
nav,
.menuPanel,
.mainMenu,
.submenuCont {
  overflow: visible;
}
nav {
  position: fixed;
  height: auto;
  padding: 0.5rem;
  background: #020617;
  z-index: 99;
}
.menuPanel {
  padding: 0.5rem;
  position: absolute;
  width: 250px;
  height: auto;
  background: #1e293b;
  border-radius: 1rem;
  display: none;
}
.menuPanel.menuOpen {
  display: block;
  transition: all 0.5s ease;
}
.mainMenu {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mainMenu li {
  min-width: 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mainMenu a {
  width: 100%;
}
.submenuCont {
  position: relative;
}
.submenuPanel {
  position: relative;
  top: 100%;
  left: 0;
  padding: 0 0 0 1rem;
  min-width: 150px;
  list-style: none;
  background: #1e293b;
  z-index: 999;
  border-radius: 1rem;
  display: none;
}
.submenuPanel  {
  padding: 1rem;
}
.submenuPanel a {
  width: 100%;
}
.submenuPanel.submenuOpen {
  display: block;
  transition: all 0.3s ease;
}
/* Button and links standarization for menu */
.mainMenu a, .submenuToggle {
  height: 100%;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
}
.submenuToggle {
  font: inherit;
  color: #38bdf8;
  text-decoration: none;
  line-height: 0.7;
  opacity: 1;
  appearance: none;
}
.submenuToggle:hover {
  text-decoration: underline;
}
.submenuToggle:active {
  font: inherit;
  font-weight: 600;
  color: #997016;
  background: none;
  border: none;
  text-decoration: none;
}
/* Menu responsiveness for DESKTOP */
@media (min-width: 1000px) {
  .menuPanel {
    width: 100vw;
    margin: 0 auto;
    background: #020617;
    border-radius: 0;
    overflow: visible;
    display: block;
    position: relative;
  }
  .menuButton {
    display:none;
  }
  .mainMenu {
    flex-direction: row;
    justify-content: center;
  }
  .mainMenu li {
    min-width: 250px;
  }
  .mainMenu a {
    width: auto;
  }
  .submenuPanel {
    position: absolute;
  }
}

/* LANGUAGE BUTTON, FIXED */
.lang {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  z-index: 999;
}

/* HEADER */
header {
  text-align: center;
  padding: 6rem 3rem;
  background: #020617;
}

/* MAIN CONTAINER AND SECTIONS */
main {
  width: 95vw;
  margin: 0 auto;
  padding: 1.5rem;
}
section {
  margin: 1rem 0;
}

/* Landing Page (index) */
.projects-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}
.projects-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: #020617;
}
.projects-card img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}
.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Generic Grid... kinda */
.grid-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}


/* Responsive Queries */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1000px) {
  main {
    max-width: 85vw;
  }
  .projects-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1300px) {
  .projects-card {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1700px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* FOOTER */
footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: #94a3b8;
  text-align: center;
  border-top: 1px solid #1e293b;
  background: #020617;
}

/* UTILITIES */

/* Use this to keep an item hidden all times */
.invisible {
  display: none;
}
/* Use this to show/hide UI elements when needed */ 
.hidden {
  display: none;
}

.inline {
  display: inline-block;
}
.card {
  background: #1e293b;
  padding: 1.5rem;
  border-radius: 1rem;
}
.card-alt {
  padding: 1.5rem;
  border: 1px solid #997016;
  border-radius: 0.5rem;
}
.fixed-txt-size {
  font-size: max(14px) !important;
}
.tagline {
  color: #997016;
}
.tagline-bis {
  color: #38bdf8;
}
.tagline-g {
  color: #94a3b8;
}
.margin-down {
  margin-bottom: 1rem;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: black;
  color: white;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 10px;
}

/* ===== DEMO ===== */

.infoSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
#vehicle {
  transition: x 0.6s ease;
}
